main {
  min-height: 100dvh;
  background: rgb(50, 50, 50);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
  padding: 2em;
  list-style: none;
}

p {
  text-align: center;
  color: white;
  padding: 1em;
}

@media (width < 671px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
