@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");
main {
  min-height: 100dvh;
  background: rgb(50, 50, 50);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
  padding: 2em;
  list-style: none;
}

p {
  text-align: center;
  color: white;
  padding: 1em;
  font-family: "Montserrat";
}

@media (width < 671px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
